@model OdeAComida.Models.AnaliseRestaurante

@{
    ViewBag.Title = "Criar";
}

<h2>Criar</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Análise do Restaurante</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nota)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nota)
            @Html.ValidationMessageFor(model => model.Nota)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Corpo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Corpo)
            @Html.ValidationMessageFor(model => model.Corpo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NomeAnalista)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NomeAnalista)
            @Html.ValidationMessageFor(model => model.NomeAnalista)
        </div>


        <p>
            <input type="submit" value="Criar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>

@section Scripts {
}
